---

rules:
  indentation:
    spaces: 2
    indent-sequences: no
  trailing-spaces: {}
  truthy:
    allowed-values:
    - 'yes'
    - 'no'
    - 'true'
    - 'false'
  new-lines:
    type: unix
  new-line-at-end-of-file: enable
  key-duplicates: {}
  hyphens:
    max-spaces-after: 1
  empty-lines:
    max: 1
  document-start:
    present: yes
  document-end:
    present: no
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1

ignore: |
  .github/
  .venv/
  roles/discourse/templates/serviceaccount.yaml.j2
  roles/discourse/templates/pvc-discourse.yaml.j2
  roles/discourse/templates/pvc-postgres.yaml.j2
  roles/discourse/templates/pvc-redis.yaml.j2
  roles/discourse/templates/statefulset-discourse.yaml.j2
  roles/discourse/templates/statefulset-postgres.yaml.j2
  roles/discourse/templates/statefulset-redis.yaml.j2
