---

# Do not use our comprehensive/standard lint rules
# as this repository contains a number of YAML files
# cloned (copied) from other sources.

rules:
  indentation: {spaces: 2, indent-sequences: false}
  truthy:
    allowed-values:
    - 'yes'
    - 'no'
    - 'true'
    - 'false'
  new-lines:
    type: unix
  new-line-at-end-of-file: enable

ignore: |
  .github/
  .venv/
  roles/discourse/templates/serviceaccount.yaml.j2
  roles/discourse/templates/pvc-discourse.yaml.j2
  roles/discourse/templates/pvc-postgres.yaml.j2
  roles/discourse/templates/pvc-redis.yaml.j2
  roles/discourse/templates/statefulset-discourse.yaml.j2
  roles/discourse/templates/statefulset-postgres.yaml.j2
  roles/discourse/templates/statefulset-redis.yaml.j2
