---

kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: discourse
  namespace: {{ d_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ d_cert_issuer|lower }}"
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ d_ingress_nginx_proxy_body_size }}"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ d_hostname }}
    secretName: discourse-tls
  rules:
  - host: {{ d_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: discourse
            port:
              name: http
