---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: d-psp-unrestricted
  namespace: "{{ d_namespace }}"
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs: ['use']
  resourceNames: ['{{ d_sa_psp }}']
