---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: postgres
  namespace: {{ d_namespace }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: postgres
  serviceName: postgres
  template:
    metadata:
      name: postgres
      labels:
        name: postgres
    spec:
      serviceAccountName: discourse

      # We must have a 'core' node
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-worker
                operator: DoesNotExist

      securityContext:
        runAsUser: 1001
        runAsGroup: 0
        fsGroup: 0

      containers:
      - name: postgres
        image: {{ d_postgres_image_registry }}/{{ d_postgres_image_name }}:{{ d_postgres_image_tag }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 5432
          name: pg
        env:
        - name: POSTGRESQL_DATABASE
          value: '{{ d_discourse_pg_name }}'
        - name: POSTGRESQL_USERNAME
          value: '{{ d_discourse_pg_username }}'
        - name: POSTGRESQL_PASSWORD
          value: '{{ d_discourse_pg_password }}'
        - name: POSTGRESQL_POSTGRES_PASSWORD
          value: '{{ d_pg_root_password }}'
        resources:
{% if d_pg_cpu_limit or d_pg_mem_limit %}
          limits:
{% if d_pg_cpu_limit %}
            cpu: {{ d_pg_cpu_limit }}
{% endif %}
{% if d_pg_mem_limit %}
            memory: {{ d_pg_mem_limit }}
{% endif %}
{% endif %}
          requests:
            cpu: {{ d_pg_cpu_request }}
            memory: {{ d_pg_mem_request }}
        volumeMounts:
        - mountPath: /bitnami/postgresql
          name: postgres

      volumes:
      - name: postgres
        persistentVolumeClaim:
          claimName: postgres
