---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: discourse
  namespace: {{ d_namespace }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: discourse
  serviceName: discourse
  template:
    metadata:
      name: discourse
      labels:
        name: discourse
    spec:
      serviceAccountName: discourse

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ d_node_purpose }}

      containers:

      # Discourse Container
      #
      - name: discourse
        image: {{ d_image_name }}:{{ d_image_tag }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 3000
          name: http
        env:
        # Discourse details
        - name: DISCOURSE_USERNAME
          value: '{{ d_username }}'
        - name: DISCOURSE_PASSWORD
          value: '{{ d_password }}'
        - name: DISCOURSE_SITENAME
          value: '{{ d_sitename }}'
        - name: DISCOURSE_HOSTNAME
          value: '{{ d_hostname }}'
        # PostgreSQL details
        - name: POSTGRESQL_HOST
          value: '{{ d_pg_host }}'
        - name: POSTGRESQL_ROOT_USER
          value: '{{ d_pg_root_user }}'
        - name: POSTGRESQL_ROOT_PASSWORD
          value: '{{ d_pg_root_password }}'
        - name: POSTGRESQL_PORT_NUMBER
          value: '{{ d_pg_port_number }}'
        - name: DISCOURSE_POSTGRESQL_USERNAME
          value: '{{ d_discourse_pg_username }}'
        - name: DISCOURSE_POSTGRESQL_PASSWORD
          value: '{{ d_discourse_pg_password }}'
        - name: DISCOURSE_POSTGRESQL_NAME
          value: '{{ d_discourse_pg_name }}'
        # Redis details
        - name: REDIS_HOST
          value: '{{ d_redis_host }}'
        - name: REDIS_PORT_NUMBER
          value: '{{ d_redis_port_number }}'
        - name: REDIS_PASSWORD
          value: '{{ d_redis_password }}'
        - name: DISCOURSE_SKIP_INSTALL
{% if d_skip_install %}
          value: 'yes'
{% else %}
          value: 'no'
{% endif %}
        # Debug
        - name: NAMI_LOG_LEVEL
          value: '{{ d_image_log_level }}'
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 250m
            memory: 500Mi
        volumeMounts:
        - mountPath: /bitnami/postgresql
          name: discourse

      # Discourse Sidekiq Container
      #
      - name: discourse-sidekiq
        image: {{ d_image_name }}:{{ d_image_tag }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        args:
        - nami
        - start
        - --foreground
        - discourse-sidekiq
        env:
        # Discourse details
        - name: DISCOURSE_HOST
          value: 'localhost'
        - name: DISCOURSE_PORT
          value: '3000'
        - name: DISCOURSE_HOSTNAME
          value: '{{ d_hostname }}'
        # PostgreSQL details
        - name: POSTGRESQL_HOST
          value: '{{ d_pg_host }}'
        - name: POSTGRESQL_PORT_NUMBER
          value: '{{ d_pg_port_number }}'
        - name: DISCOURSE_POSTGRESQL_USERNAME
          value: '{{ d_discourse_pg_username }}'
        - name: DISCOURSE_POSTGRESQL_PASSWORD
          value: '{{ d_discourse_pg_password }}'
        - name: DISCOURSE_POSTGRESQL_NAME
          value: '{{ d_discourse_pg_name }}'
        # Redis details
        - name: REDIS_HOST
          value: '{{ d_redis_host }}'
        - name: REDIS_PORT_NUMBER
          value: '{{ d_redis_port_number }}'
        - name: REDIS_PASSWORD
          value: '{{ d_redis_password }}'
{% if d_smtp_host not in ['SetMe'] %}
        # SMTP details
        - name: SMTP_HOST
          value: '{{ d_smtp_host }}'
        - name: SMTP_PORT
          value: '{{ d_smtp_port }}'
        - name: SMTP_USER
          value: '{{ d_smtp_user }}'
        - name: SMTP_PASSWORD
          value: '{{ d_smtp_password }}'
{% endif %}
        # Debug
        - name: NAMI_LOG_LEVEL
          value: '{{ d_image_log_level }}'
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 100m
            memory: 500Mi
        volumeMounts:
        - mountPath: /bitnami/postgresql
          name: discourse

      volumes:
      - name: discourse
        persistentVolumeClaim:
          claimName: discourse
